<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: headCommon"></head>
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
<body class="hold-transition login-page">

<div ng-app="testApp" ng-controller="testCol">

</div>
<span th:replace="layout/onLoadJs :: onLoadJsCommon"></span>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass   : 'iradio_square-blue',
            increaseArea : '20%' // optional
        })
    })
</script>
<script th:inline="javascript">
    var loginApp = angular.module('testApp', []);

    loginApp.service("lang",function () {

        this.localLangRecord = function () {
            return localStorage.getItem("LANG_TYPE")?localStorage.getItem("LANG_TYPE"):"zhCn";
        }
    })

    loginApp.filter('formatText', function(lang) {
        return function(text) {
            /*第一个参数为语言包langKey，第二个参数为语言类型。两个值必须一样*/
            return lang.langDetail(text,text);
        }
    });

    loginApp.controller('test', function($scope,lang) {

    });
</script>
</body>
</html>
