<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.cgbd.mapper.GlobalParameterMapper">
    <resultMap id="BaseResultMap" type="com.edu.cgbd.domain.account.GlobalParameter">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="param_key" jdbcType="VARCHAR" property="paramKey"/>
        <result column="param_value" jdbcType="VARCHAR" property="paramValue"/>
    </resultMap>
</mapper>
