<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head :: servantHead"></head>
<body id="skin-blur-violate">
<div id="app">
    <header th:replace="layout/header :: onLoadHeaderServant"></header>
    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main">

        <!-- Sidebar -->
        <aside th:replace="layout/toolBar :: toolBarServant"></aside>

        <!-- Content -->
        <section id="content" class="container">

            <span th:replace="layout/drawer :: drawerServant"></span>

            <div class="block-area" id="Panel">

                <div class="btn-group pull-right">
                    <a data-toggle="modal" href="#modalWider" type="button" class="btn btn-xs btn-alt input-focused">{{langDetails['AddTo']}}</a>
                    <button @click="refreshChoiceQuestion()" type="button" class="btn btn-xs btn-alt input-focused">{{langDetails['Refresh']}}</button>
                </div>
                <div style="clear: both; visibility:hidden;"></div>

                <h3 class="block-title">{{langDetails['SingleChoiceQuestion']}}</h3>

                <div v-for="question in questions" class="panel panel-default tile">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{question.title}}
                        </h3>
                    </div>
                    <div class="panel-body">
                    <span v-for="choiceQuestionOption in question.choiceQuestionOptions">
                        {{choiceQuestionOption.title}}:{{choiceQuestionOption.value}}<br>
                    </span>
                    </div>
                    <div class="panel-footer">
                        <span class="alert-success">{{langDetails['RightKey']}}: {{question.answer}}</span>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-xs btn-alt badge input-focused">{{langDetails['Modify']}}</button>
                            <button @click="deleteChoiceQuestion(question.id)" type="button" class="btn btn-xs btn-alt badge input-focused">{{langDetails['Delete']}}</button>
                        </div>
                        <div style="clear: both; visibility:hidden;"></div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalWider" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">{{langDetails['AddTo']}}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>{{langDetails['Type']}}</p>
                                    <select id="type" class="select m-b-10" style="display: none;">
                                        <option value="0">{{langDetails['SingleChoiceQuestion']}}</option>
                                        <option value="1">{{langDetails['MultipleChoiceQuestions']}}</option>
                                        <option value="2">{{langDetails['AnswerQuestions']}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>{{langDetails['Achievement']}}</p>
                                    <input id="score" class="form-control input-sm m-b-10" type="text">
                                </div>
                                <div class="col-md-3">
                                    <p>{{langDetails['RightKey']}}</p>
                                    <input id="answer" class="form-control input-sm" type="text">
                                </div>
                                <div class="col-md-3"></div>

                                <div class="col-md-3 text-right">
                                    <p class="m-r-20">{{langDetails['State']}}</p>
                                    <button id="state" @click="stateChange($event)" cgbdData="1" class="btn p-b-5 p-t-5">{{langDetails['Release']}}</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{langDetails['Subject']}}</p>
                                    <textarea id="title" class="form-control auto-size m-b-10" style="oZZverflow: hidden; overflow-wrap: break-word; resize: none; height: 80px;">

                                </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button @click="addAnswer()" class="btn btn-xs m-b-10">
                                        <span>{{langDetails['AnswerQuestions']}}</span>
                                        <i class="icon">&#61943;</i>
                                    </button>

                                    <div class="table-responsive overflow" tabindex="5003" style="overflow: hidden; outline: none;">
                                        <table class="table table-bordered table-hover tile">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px">{{langDetails['Option']}}</th>
                                                <th>{{langDetails['Answer']}}</th>
                                                <th class="text-center" style="width: 50px">{{langDetails['Operation']}}</th>
                                            </tr>
                                            </thead>
                                            <tbody id="answerTitle">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm" data-dismiss="modal">{{langDetails['Close']}}</button>
                                <button @click="insertChoiceQuestion()" type="button" class="btn btn-sm">{{langDetails['Preservation']}}</button>
                            </div>
                            <div style="clear: both; visibility:hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="whiter" />

        </section>
    </section>
</div>
<span th:replace="layout/onLoadJs :: onLoadJsServant"></span>

<script th:inline="javascript" type="text/javascript">
    const vm = new Vue({
        el: '#app',
        mixins: [myMixin],
        data () {
            return {
                questions: null,
            }
        },
        mounted() {
            this.addAnswer();
            this.choiceQuestionByType();
        },
        created() {
            let self = this;
            window.removeAnswer = self.removeAnswer;
        },
        methods: {
            choiceQuestionByType: function(type){
                let self = this;
                axios. get('/choiceQuestionByType', {
                    params: {
                        type: type
                    }
                }).then(function (response) {
                    self.questions = response["data"]["data"];
                }).catch(function (error) {
                    console.log(error);
                });
            },
            insertChoiceQuestion: function(){
                let self = this;
                let submitJson = {};
                submitJson["type"] = $("#type").val();
                submitJson["score"] = $("#score").val();
                submitJson["answer"] = $("#answer").val();
                submitJson["title"] = $("#title").val();
                submitJson["state"] = $("#state").attr("cgbdData");

                let choiceQuestionOptions = [];
                $("#answerTitle>tr").each(function (index, value) {
                    let choiceQuestionOption = {};
                    choiceQuestionOption["title"] = $(value).find("td").eq(0).text();
                    choiceQuestionOption["value"] = $(value).find("td").eq(1).text();
                    choiceQuestionOptions.push(choiceQuestionOption);
                })
                submitJson["choiceQuestionOptions"] = choiceQuestionOptions;

                axios. put('/choiceQuestion', JSON.stringify(submitJson), {
                    headers: {
                        'content-Type': 'application/json;charset=UTF-8'
                    },
                }).then(function (response) {
                    self.refreshChoiceQuestion();
                    $('#modalWider').modal('hide');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            deleteChoiceQuestion: function(ids){
                let self = this;
                axios. delete('/choiceQuestion', {
                    params: {
                        ids: ids
                    }
                }).then(function (response) {
                    self.refreshChoiceQuestion();
                }).catch(function (error) {
                    console.log(error);
                });
            },
            refreshChoiceQuestion: function(){
                this.choiceQuestionByType();
            },
            addAnswer: function () {
                $("#answerTitle").append('' +
                    '<tr>\n' +
                    '    <td class="text-center" contenteditable="true"></td>\n' +
                    '    <td contenteditable="true"></td>\n' +
                    '    <td onclick="removeAnswer(this)" style="cursor: pointer" class="text-center">\n' +
                    '        <i class="icon">&#61754;</i>\n' +
                    '    </td>\n' +
                    '</tr>' +
                    '');
            },
            removeAnswer: function (thisItem) {
                let parent = $(thisItem).parent("tr");
                if($("#answerTitle tr").length > 1)
                    parent.remove();
            },
            stateChange: function (e) {
                let thisItem = e.currentTarget;
                const langFilter = this.$options.filters['langFilter'];
                if($(thisItem).attr("cgbdData") == 1) {
                    $(thisItem).attr("cgbdData", 0);
                    $(thisItem).text(this.langDetails["Prohibit"]);
                }
                else {
                    $(thisItem).attr("cgbdData", 1);
                    $(thisItem).text(this.langDetails["Release"]);
                }
            }
        },
    })
</script>
</body>
</html>
