<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head :: servantHead"></head>
<body>
<script>document.body.id = localStorage.getItem('skin') ? localStorage.getItem('skin') : 'skin-blur-violate';</script>
<div id="app">
    <header th:replace="layout/header :: onLoadHeaderServant"></header>
    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main">

        <!-- Sidebar -->
        <aside th:replace="layout/toolBar :: toolBarServant"></aside>

        <!-- Content -->
        <section id="content" class="container">

            <span th:replace="layout/drawer :: drawerServant"></span>

            <div class="block-area" id="Panel">

                <div class="btn-group pull-right">
                    <button @click="emptyTrash()" type="button" class="btn btn-xs btn-alt input-focused m-b-5">{{langDetails['EmptyTrash']}}</button>
                    <button @click="refreshChoiceQuestion()" type="button" class="btn btn-xs btn-alt input-focused">{{langDetails['Refresh']}}</button>
                </div>

                <span class="titleStyle">{{langDetails['RecycleBin']}}</span>
                <div style="clear: both; visibility:hidden;"></div>

                <div v-for="question in questions" class="panel panel-default tile">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="blogStyle">{{question.type | typeFilter}}</span>
                            <span class="tagStyle">{{question.state | stateFilter}}</span>
                            <br>
                            <span style="width: 24px; height: 15px; display: inline-block"></span>
                            <span>{{question.title}}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                    <span v-for="choiceQuestionOption in question.choiceQuestionOptions">
                        {{choiceQuestionOption.title}}:{{choiceQuestionOption.value}}<br>
                    </span>
                    </div>
                    <div class="panel-footer">
                        <span class="alert-success">{{langDetails['RightKey']}}: {{question.answer}}</span>
                        <div class="btn-group pull-right">
                            <a @click="reductionChoiceQuestion([question.id])" data-toggle="modal" href="#modalWider" type="button" class="btn btn-xs btn-alt badge input-focused">{{langDetails['Reduction']}}</a>
                            <button @click="deleteChoiceQuestion(question.id)" type="button" class="btn btn-xs btn-alt badge input-focused">{{langDetails['Delete']}}</button>
                        </div>
                        <div style="clear: both; visibility:hidden;"></div>
                    </div>
                </div>
            </div>
            <hr class="whiter" />
        </section>
    </section>
</div>
<span th:replace="layout/onLoadJs :: onLoadJsServant"></span>

<script th:inline="javascript" type="text/javascript">
    const vm = new Vue({
        el: '#app',
        mixins: [myMixin],
        data () {
            return {
                questions: null,
                question: null,
            }
        },
        mounted() {
            this.choiceQuestionByType();
        },
        created() {
            let self = this;
            window.removeAnswer = self.removeAnswer;
            window.verification = self.verification;
        },
        methods: {
            choiceQuestionByType(type) {
                let self = this;
                axios. get('/choiceQuestionByType', {
                    params: {
                        type: type,
                        delete: 1
                    }
                }).then(function (response) {
                    self.questions = response["data"]["data"];
                    self.refreshOk();
                }).catch(function (error) {
                    console.log(error);
                });
            },
            deleteChoiceQuestion(ids) {
                let self = this;
                this.confirmModalOpen(this.langDetails['Tips'], this.langDetails['AreYouSureYouWantToDeleteItCompletely'], doDeleteChoiceQuestion);
                function doDeleteChoiceQuestion() {
                    axios. delete('/choiceQuestion', {
                        params: {
                            ids: ids
                        }
                    }).then(function (response) {
                        self.refreshChoiceQuestion();
                        self.mesBox(self.langDetails["DeleteSuccessful"]);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            refreshChoiceQuestion() {
                this.refreshIcon();
                this.choiceQuestionByType();
            },
            reductionChoiceQuestion(ids) {
                let self = this;
                this.confirmModalOpen(this.langDetails['Tips'], this.langDetails['AreYouSureYouWantToRestore'], doReductionChoiceQuestion);
                function doReductionChoiceQuestion() {
                    axios. post('/reductionChoiceQuestion', ids, {
                        headers:{
                            'content-Type': 'application/json;charset=UTF-8'
                        }
                    }).then(function (response) {
                        self.refreshChoiceQuestion();
                        self.mesBox(self.langDetails["RestoreSuccess"]);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
        },
        filters: {
            typeFilter: function (value) {
                let re = '';
                switch (value) {
                    case 0 : re = vm.langDetails['SingleChoiceQuestion'];
                        break;
                    case 1 : re = vm.langDetails['MultipleChoiceQuestions'];
                        break;
                    case 2 : re = vm.langDetails['AnswerQuestions'];
                        break;
                }
                return re;
            },
            stateFilter: function (value) {
                let re = '';
                switch (value) {
                    case 0 : re = vm.langDetails['Prohibit'];
                        break;
                    case 1 : re = vm.langDetails['InAudit'];
                        break;
                    case 2 : re = vm.langDetails['Release'];
                        break;
                }
                return re;
            }
        }
    })
</script>
</body>
</html>
