<aside id="sidebar" th:fragment="toolBarServant" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Sidbar Widgets -->
    <div class="side-widgets overflow">
        <!-- Profile Menu -->
        <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
            <a href="" data-toggle="dropdown">
                <img class="profile-pic animated" th:src="@{/img/profile-pic.jpg}" alt="">
            </a>
            <ul class="dropdown-menu profile-menu">
                <li><a href="">个人信息</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="">消息</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="">设置</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="">退出</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            </ul>
            <h4 class="m-0">五湖四海✖陌路</h4>
            俨然、万里长空
        </div>

        <!-- Calendar -->
        <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
        </div>

        <!-- Feeds -->
        <div class="s-widget m-b-25">
            <h2 class="tile-title">
                知乎每日精选
            </h2>

            <div class="s-widget-body">
                <div id="news-feed"></div>
            </div>
        </div>
    </div>

    <!-- Side Menu -->
    <ul class="list-unstyled side-menu">
        <li th:each="menuGroup : ${menuGroups}" th:if="${menuGroup.groupGrade eq 0}" class="active">
            <a th:class="${menuGroup.groupIcon}" th:href="${menuGroup.groupRoute + menuGroup.groupAction}">
                <span class="menu-item" th:text="${menuGroup.groupName}">主页</span>
            </a>
        </li>

        <li th:each="menuGroup : ${menuGroups}" th:if="${menuGroup.groupGrade eq 1}" class="dropdown">
            <a th:class="${menuGroup.groupIcon}" href="">
                <span th:text="${menuGroup.groupName}" class="menu-item">菜单</span>
            </a>
            <ul th:if="${menuGroup.menus} ne ''" class="list-unstyled menu-item">
                <li th:each="menu : ${menuGroup.menus}">
                    <a th:href="${menu.menuRoute + menu.menuAction}">
                        <span th:text="${menu.menuName}">子菜单</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>
