<aside id="sidebar" th:fragment="toolBarServant" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Sidbar Widgets -->
    <div class="side-widgets overflow">
        <!-- Profile Menu -->
        <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
            <a href="" data-toggle="dropdown">
                <img class="profile-pic animated" th:src="@{/img/profile-pic.jpg}" alt="">
            </a>
            <ul class="dropdown-menu profile-menu">
                <li>
                    <a :href="userInfo.url">{{userInfo.title}}</a>
                    <i class="icon left">&#61903;</i>
                    <i class="icon right">&#61815;</i>
                </li>
                <li>
                    <a :href="info.url">{{info.title}}</a>
                    <i class="icon left">&#61903;</i>
                    <i class="icon right">&#61815;</i>
                </li>
                <li>
                    <a :href="set.url">{{set.title}}</a>
                    <i class="icon left">&#61903;</i>
                    <i class="icon right">&#61815;</i>
                </li>
                <li>
                    <a :href="doExit.url">{{doExit.title}}</a>
                    <i class="icon left">&#61903;</i>
                    <i class="icon right">&#61815;</i>
                </li>
            </ul>
            <h4 class="m-0">五湖四海✖陌路</h4>
            俨然、万里长空
        </div>

        <!-- Calendar -->
        <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
        </div>

        <!-- Feeds -->
        <div class="s-widget m-b-25">
            <h2 class="tile-title">
                知乎每日精选
            </h2>

            <div class="s-widget-body">
                <div id="news-feed"></div>
            </div>
        </div>
    </div>

    <!-- Side Menu -->
    <ul class="list-unstyled side-menu">
        <li v-for="menuGroup in menuGroups" v-if="menuGroup.groupGrade == 0" class="active">
            <a :class="menuGroup.groupIcon" :href="menuGroup.groupRoute + menuGroup.groupAction">
                <span class="menu-item">{{langDetails[menuGroup.groupName]}}</span>
            </a>
        </li>

        <li v-for="menuGroup in menuGroups" v-if="menuGroup.groupGrade == 1" class="dropdown">
            <a :class="menuGroup.groupIcon" href="">
                <span class="menu-item">{{langDetails[ menuGroup.groupName]}}</span>
            </a>
            <ul v-if="menuGroup.menus != ''" class="list-unstyled menu-item">
                <li v-for="menu in menuGroup.menus">
                    <a :href="menu.menuRoute + menu.menuAction">
                        <span>{{langDetails[menu.menuName]}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
