<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: receptionHead"></head>

<body class="home blog custom-background round-avatars">
<head th:replace="layout/receptionToolBar :: receptionToolBar"></head>
<div id="main" class="content">
    <div class="container">
        <article itemscope="itemscope">
            <div class="posts-list js-posts">
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="status_list_item icon_kyubo">
                        <div class="status_user"
                             style="background-image: url(/reception/images/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);">
                            <div class="status_section">
                                <a href="/redirect/index" class="status_btn">交代是不可能交代的 -（开发中）</a>
                                <p class="section_p">一个人的人生幸福，只靠道德方面的努力是不够的，我们必须经常描绘自己将来的幸福形象，
                                    并依靠万能的潜意识来帮忙实现。潜意识一旦接受事情后，就会想尽办法去实现它，之后你只要安心等待,就可以了。
                                    ——世界著名研究精神法则、潜意识权威 乔瑟夫·摩菲
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post post-layout-list" data-aos="fade-up">
                <div class="postnormal review ">
                    <div class="post-container review-item">
                        <div class="row review-item-wrapper">
                            <div class="col-sm-3">
                                <a rel="nofollow" href="detail.html">
                                    <div class="review-item-img"
                                         style="background-image: url(/reception/images/diego-ph-249471-2-800x1000.jpg);"></div>
                                </a>
                            </div>
                            <div class="col-sm-9 flex-xs-middle">
                                <div class="review-item-title">
                                    <a href="detail.html" rel="bookmark">和妹妹的小故事～</a>
                                </div>
                                <span class="review-item-info"><b>妹妹关键词：</b>键盘 笑脸</span>
                                <span class="review-item-info"><b>哥哥关键词：</b>森林 柚子</span>
                                <div class="review-item-creator"><b>创建时间：</b>2020-6-9</div>
                            </div>
                        </div>
                        <div class="review-bg-wrapper">
                            <div class="bg-blur"
                                 style="background-image: url(/reception/images/diego-ph-249471-2-800x1000.jpg);"></div>
                        </div>
                    </div>
                    <div class="post-container">
                        <div class="entry-content">
                            妹妹的故事：<br>
                            在深林处，有一个小人国，在这个国家没有所谓的国王领导者，每个人都过着自己恬静生活，不谙世事。但唯一奇特的便是深林里长着许多许多高大的柚子树，个个圆润饱满。但可惜的是由于小人国里的人们各自都非常矮小，无论用什么工具都无法将硕大的果实摘下来，甚是可惜。<br>
                            有一天，深林里走进了一个世外人，左手边悬挂着一个键盘，但也仅仅只是键盘丝毫未见电脑的影子。这时小人国可奇了怪了，这密密麻麻凸块是个什么东西？不仅不能吃还硌手。于是便询问起这世外人来，一经询问才知，原来这是个神奇的键盘，名为“键盘侠”，可定方定位，拨动键盘按钮还可以发出强大的力量直击任何物体。<br>
                            就这样，这群小人国的人可乐开了花，立马拉上世外人带上键盘跑到一颗颗柚子树下……只见偌大的柚子果实瞬间翻滚在地，每个人都露出了笑脸。<br>
                            哇！可真甜～[转圈]<hr>
                            哥哥的故事：<br>
                            小柚子问爷爷，西柚哥哥好可怜啊，咋们就不能救救他们吗？<br>
                            柚子爷爷望着满天的繁星，轻叹一声，跟小柚子讲述起了曾经发生的可怕故事。<br>
                            外江市曾经是柚子的乐园，无论是本地柚子还是西柚，在外江市都安居乐业，过的幸福且安康。大片大片的柚子神树组成森林，好不美观。但是，1996秋天，10月22日（农历九月十一）那一天，一切都变了。<br>
                            当时，天下暴雨，怒扯的狂风吓坏了当时的柚子爷爷，柚子爷爷躲在降生自己的柚子神树下瑟瑟发抖。
                            突然，天上出现一道奇怪的光点弧线直愣愣的就朝外江市威近县疾驰而去，一道足以覆盖整个外江市的冲击波产生了，并在全市所有的柚子心灵产生了一道声音：美味的柚子，我来了。
                            此事一出，柚子们的心灵产生了巨大的疑惑和心理阴影。柚子长老们也决心探查，组织了一支探险队前往威近县探查。结果，整个探险队都杳无音讯。
                            整个外江市，突然变得柚心惶惶。失踪、失踪、失踪，可怕的事情接二连三的发生，柚子们也开始向市外奔逃。后来，外江市的柚子灭绝了，外江市也成为了柚界的禁忌传说。<br>
                            哦，对了，造成此番柚界动荡、惨绝人寰的始作俑者是一个名叫<span style="font-weight: bold; color:darkred">媛</span>的奇怪生物，狂风暴雨那天是她降生的日子。她好生吃柚子，边吃还边说：再来一个！<br>
                            每隔一段时间，<span style="font-weight: bold; color:darkred">媛</span>就会向其它市伸出魔爪，为了安抚她，每隔一段时间都得向她进贡精壮柚子！活柚子。<br>
                            小柚子听得唏嘘不已，再次加深了对<span style="font-weight: bold; color:darkred">媛</span>的恐惧。也再次为这次被进贡的4个精壮西柚感到悲哀～～～<br>
                            柚子爷爷默默拿出键盘，打出了+4：哎～又是四个小兄弟，何时是个头啊～
                        </div>
                        <div class="post-footer">
                            <a class="gaz-btn primary" href="">移动（暂时没用）</a>
                            <span class="total-comments-on-post pull-right"><a href="">获胜者：妹妹</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post-formats end Infinite Scroll star -->
            <!-- post-formats -->
            <div class="pagination js-pagination">
                <div class="js-next pagination__load">
                    <a href=""><i class="iconfont">&#xe605;</i></a>
                </div>
            </div>
            <!-- -pagination  -->
        </article>
    </div>
</div>

<head th:replace="layout/footer :: footer"></head>
<head th:replace="layout/onLoadJs :: onLoadJsReception"></head>
</body>

</html>
